div#inputs-container, div#results-div {
  border:2px solid black;
  text-align:center;
  width: 80%;
  margin: auto auto 10px auto;
  min-width: 500px;
}

div.input-div {
  display:inline-block;
  margin-bottom: 10px;
}

input {
  width: 100px;
}

button {
  display:block;
  text-align:center;
  margin: 0px auto 10px;
}

ul {
  list-style:none;
  margin: auto auto;
}